# Exclude these files from the git repo
wp-content/backup/*
wp-content/cache/*
wp-content/upgrade/*
wp-content/uploads/*
.env
# sitemap.*
# wordpress/wp-config.php
 
# Hidden system files
*.DS_Store
*[Tt]humbs.db
*.Trashes

# not including as using .htaccess from root 
# Include these files in previously blocked directories
# !wp-content/uploads/.htaccess